## This notebook imports Chicago Crime .csv file to a MySQL database

In [7]:
import pandas as pd
import mysql.connector
import numpy as np

pd.set_option('display.max_columns', None)

In [3]:
#Setting up connection to localhost
mydb = mysql.connector.connect(
    host="localhost",
    port=3306,
    user="root",
    password="rootroot"
)

print(mydb)

#Setting up cursor to do queries
mycursor = mydb.cursor()

<mysql.connector.connection.MySQLConnection object at 0x7f98275dcc70>

### Import .csv file. Put the file in the same directory as this script to read it directly without specifying a full path

In [4]:
data = pd.read_csv("chicago_crime.csv")

In [5]:
#Print to make sure you read the file correctly
data.head(5)
print(data.columns)
print(data.dtypes)

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')
ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
dtype: object

In [8]:
data.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11614273,JC174951,01/01/2017 12:00:00 AM,018XX S CALIFORNIA AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,1022,10.0,12.0,29.0,11,NaN,NaN,2017,03/06/2019 04:20:10 PM,NaN,NaN,NaN
1,11622471,JC184902,01/01/2017 12:00:00 AM,013XX S LAWNDALE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,False,False,1011,10.0,24.0,29.0,11,NaN,NaN,2017,03/14/2019 04:07:17 PM,NaN,NaN,NaN
2,11255786,JB185271,01/01/2017 12:00:00 AM,045XX N HAZEL ST,1155,DECEPTIVE PRACTICE,AGGRAVATED FINANCIAL IDENTITY THEFT,COMMERCIAL / BUSINESS OFFICE,False,False,1914,19.0,46.0,3.0,11,NaN,NaN,2017,03/15/2018 03:55:29 PM,NaN,NaN,NaN
3,11259747,JB190580,01/01/2017 12:00:00 AM,038XX W ARMITAGE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,2525,25.0,26.0,22.0,11,NaN,NaN,2017,03/19/2018 04:13:18 PM,NaN,NaN,NaN
4,11267468,JB195629,01/01/2017 12:00:00 AM,017XX W HENDERSON ST,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,1922,19.0,47.0,6.0,17,NaN,NaN,2017,08/23/2019 03:57:55 PM,NaN,NaN,NaN

In [9]:
data.rename(columns={'ID': 'crime_id', 'Case Number': 'case_number', 'Date':'date', 'Block':'block', \
                  'IUCR':'iucr', 'Primary Type':'primary_type', 'Description':'description', 'Location Description':'location_description', \
                  'Arrest':'arrest', 'Domestic':'domestic', 'Beat':'beat', 'District':'district', 'Ward':'ward', \
                  'Community Area':'community_area', 'FBI Code':'fbi_code', 'X Coordinate':'x_coordinate', 'Y Coordinate':'y_coordinate', \
                  'Year':'year', 'Updated On':'updated_date', 'Latitude':'latitude', 'Longitude':'longitude', 'Location':'location'}, inplace=True)

In [10]:
data.to_csv('chicago_crime.csv', index=False)

In [6]:
print(data.columns)

Index(['crime_id', 'case_number', 'date', 'block', 'iucr', 'primary_type',
       'description', 'location_description', 'arrest', 'domestic', 'beat',
       'district', 'ward', 'community_area', 'fbi_code', 'x_coordinate',
       'y_coordinate', 'year', 'updated_date', 'latitude', 'longitude',
       'location'],
      dtype='object')

In [7]:
#Create a database to be prepared to populate it with our Chicago Crime dataframe
mycursor.execute("CREATE DATABASE IF NOT EXISTS crime")

In [8]:
#Checking if we have successfully created our database
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

#Make sure `chicago_crime` is present

('chicago_crime',)
('crime',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sakila_snowflake',)
('sys',)

In [9]:
mycursor.execute("USE crime")

In [10]:
from sqlalchemy import create_engine

import pymysql

tableName   = "chicago_crime"
dataFrame = data        
sqlEngine = create_engine("mysql+pymysql://root:rootroot@localhost/crime?host=localhost?port=3306", pool_recycle=3600)
dbConnection = sqlEngine.connect()

try:
    frame = dataFrame.to_sql(tableName, dbConnection, if_exists='fail');
except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%tableName);   
finally:
    dbConnection.close()

Table chicago_crime created successfully.